{% extends "base.html" %}
{% block content %}
<h2 class="mb-4">My Projects</h2>
<div class="row">
    {% for project in projects %}
    <div class="col-md-6 mb-4">
        <div class="card h-100">
            <img src="{{ project.image }}" class="card-img-top" alt="{{ project.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{{ project.github }}" class="btn btn-primary" target="_blank">View Code</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}